@import "../../../theme/variables.scss";

.page-start-times {

  .start-times-card {
    background: #ffffff;
    border-radius: 4px;
    margin: 2px;
    padding: 20px;

    .day {
      margin: 8px;
    }

    ion-button {
      width: 60px;
      font-size: 10px;
    }

  }

}


