@import "../../../theme/variables.scss";

.page-ramadhan {

  .notificationNotice {
    width: 100%;
    background-color: #fff;
    font-size: 0.9em;
    color: #7d7d7d;
    text-align: center;
  }

  .ramadhan-card {
    background: #ffffff;
    border-radius: 4px;
    margin: 2px;

    .date {
      padding: 8px;
    }
  }

}
