ion-grid {
  --background: var(--ion-color-medium);
}

ion-label {
  color: #005e7c;
}

.title {
  margin-top: 20px;
  font-size: 20px;
}

.time {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: bold;
}

ion-button {
  margin-right: 8px;
}
