<ion-content>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="HomePage">
                <ion-icon name="moon"></ion-icon>
                <ion-label>Prayers</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="SettingsPage">
                <ion-icon name="settings"></ion-icon>
                <ion-label>Settings</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="MenuPage">
                <ion-icon name="menu"></ion-icon>
                <ion-label>Menu</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>
