.wrapper {
  width: 80%;
  text-align: center;
  margin: 15vh auto 0;

  .button {
    text-decoration: none;
    width: 100%;
    height: 8vh !important;
    box-shadow: none;
    position: relative;
    font-size: 0.9em;
    margin-bottom: 0.5em;

    ion-icon {
      position: absolute;
      left: 1rem;
      font-size: 1.8em;
    }
  }

  .fbBtn {
    background: #3b5a9a;
  }

  .googleBtn {
    background: #d64131;
  }

  .twBtn {
    background: #23aae1;
  }
}
