.app-w-100 {
  width: 100%;
}

.app-h-100 {
  height: 100%;
}

.app-flex-column {
  flex-direction: column;
}

.app-no-margin {
  margin: 0
}

.app-m-t-40 {
  margin-top: 40px;
}

.app-m-t-8 {
  margin-top: 8px;
}

.app-m-b-8 {
  margin-bottom: 8px;
}

.app-p-8 {
  padding: 8px;
}


.home-modal-wrapper .modal-wrapper {
  width: 50vw;
  height: 165px;
  border-radius: 8px;
}
