<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/TabsPage/pages/MenuPage"></ion-back-button>
        </ion-buttons>
        <ion-title>Contact Us</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="page-contact-us">
    <ion-grid class="app-m-b-8 ion-no-padding">
        <ion-row class="ion-padding contact-us-card">
            <ion-button color="danger" expand="full" class="app-w-100" (click)="openEnquiryPage()">
                Have a question? Ask the Imam
                <ion-icon slot="end" name="play" color="light"></ion-icon>
            </ion-button>
        </ion-row>

        <ion-row class="contact-us-card">
            <ion-grid class="ion-padding">
                <ion-button color="secondary" fill="outline" class="app-w-100"> JUBILEE ROAD MOSQUE</ion-button>
                <ion-row class="ion-padding ion-justify-content-center">
                    <ion-button color="secondary" fill="outline" class="image-button">
                        <img src="assets/imgs/jr.jpg" alt="">
                    </ion-button>
                    <ion-button color="secondary" fill="outline" class="ion-margin-start text-button">
                        <div>
                            <p>34 Jubilee Road</p>
                            <p>High Wycombe</p>
                            <p>Bucks, HP11 2PG</p>
                            <a class="call-button" href="tel:01494520807">Call: 01494 520 807</a>
                        </div>
                    </ion-button>
                </ion-row>
            </ion-grid>
        </ion-row>

        <ion-row class="contact-us-card">
            <ion-grid class="ion-padding">
                <ion-button color="secondary" fill="outline" class="app-w-100">CASTLEFIELD MOSQUE</ion-button>
                <ion-row class="ion-padding ion-justify-content-center">
                    <ion-button color="secondary" fill="outline" class="image-button">
                        <img src="assets/imgs/cf.jpg" alt="">
                    </ion-button>
                    <ion-button color="secondary" fill="outline" class="ion-margin-start text-button">
                        <div>
                            <p>85 Rutland Avenue</p>
                            <p>High Wycombe</p>
                            <p>Bucks, HP12 3JQ</p>
                        </div>
                    </ion-button>
                </ion-row>
            </ion-grid>
        </ion-row>

        <ion-row class="contact-us-card">
            <ion-grid class="ion-padding">
                <ion-button color="secondary" fill="outline" class="app-w-100">TOWNFIELD HOUSE MOSQUE</ion-button>
                <ion-row class="ion-padding ion-justify-content-center">
                    <ion-button color="secondary" fill="outline" class="image-button">
                        <img src="assets/imgs/tfh.jpg" alt="">
                    </ion-button>
                    <ion-button color="secondary" fill="outline" class="ion-margin-start text-button">
                        <div>
                            <p>4 Totteridge Road</p>
                            <p>High Wycombe</p>
                            <p>Bucks, HP13 6EB</p>
                            <a class="call-button" href="tel:01494513440">Call: 01494 513 440</a>
                        </div>
                    </ion-button>
                </ion-row>
            </ion-grid>
        </ion-row>

        <ion-row class="contact-us-card">
            <ion-grid class="ion-padding">
                <ion-button color="secondary" fill="outline">MICKLEFIELD MOSQUE</ion-button>
                <ion-row class="ion-padding ion-justify-content-center">
                    <ion-button color="secondary" fill="outline" class="image-button">
                        <img src="assets/imgs/micklefield-mosque.jpg" alt="">
                    </ion-button>
                    <ion-button color="secondary" fill="outline" class="ion-margin-start text-button">
                        <div>
                            <p>Centre Approach</p>
                            <p>High Wycombe</p>
                            <p>Bucks, HP13 7FY</p>
                        </div>
                    </ion-button>
                </ion-row>
            </ion-grid>
        </ion-row>
    </ion-grid>
</ion-content>

